
/* View All Headers */
#ViewAllHeaders { list-style-image: url("chrome://viewheaders/skin/viewheaders_32.png"); }
toolbar[iconsize="small"] #ViewAllHeaders { list-style-image: url("chrome://viewheaders/skin/viewheaders_22.png"); }

/* View Normal Headers */
#ViewNormalHeaders { list-style-image: url("chrome://viewheaders/skin/viewheaders_32.png"); }
toolbar[iconsize="small"] #ViewNormalHeaders { list-style-image: url("chrome://viewheaders/skin/viewheader_22.png"); }



#ViewAllHeaders-dummy { list-style-image: url("chrome://viewheaders/skin/viewheaders_32.png"); }
toolbar[iconsize="small"] #ViewAllHeaders-dummy { list-style-image: url("chrome://viewheaders/skin/viewheaders_22.png"); }

#ViewNormalHeaders-dummy { list-style-image: url("chrome://viewheaders/skin/viewheaders_32.png"); }
toolbar[iconsize="small"] #ViewNormalHeaders-dummy { list-style-image: url("chrome://viewheaders/skin/viewheader_22.png"); }

#ViewHeadersDesc-dummy { list-style-image: url("chrome://viewheaders/skin/viewheaders_32.png"); }
toolbar[iconsize="small"] #ViewHeadersDesc-dummy { list-style-image: url("chrome://viewheaders/skin/viewheader_22.png"); }

