@import url("chrome://twistyBox/skin/twistyBox.css"); /* Import OS Specific styles & fixes */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#phb_hdrOtherActionsButton {
  list-style-image: url("chrome://phoenityButtons/skin/aero/otherActions.png")}
/* PreTab Toolbar */

#phb_pretab-toolbar {
  -moz-appearance: none;
  padding: 0;
}

#phb_pretab-toolbar:not([currentset="__empty"]),
#phb_pretab-toolbar[customizing] {
  min-width: 24px;
  -moz-margin-start: 0px;
}

#phb_pretab-toolbar .button-appmenu,
#tabbar-toolbar .button-appmenu {
  min-width: 0px !important;
}

/* Customise Toolbar */

#CustomizeToolbarWindow[toolboxId="mail-toolbox"] #smallicons,
#CustomizeToolbarWindow[toolboxId="chat-view-toolbox"] #smallicons {
  display: none;
}

/* Compact Headers */

#expandedHeadersBox.compact #expandedHeaders2 rows row:not([id="expandedsubjectRow"]) {visibility: collapse;}

#otherActionsButton {display: none;}

#CustomizeHeaderToolbar {visibility: collapse;}
#CustomizeHeaderToolbar[label] {visibility: visible;}

#phb_twistyBox {
  float: left;
  -moz-appearance: none;
  margin-right: -5px;}

#phb_compactTwisty {
  min-width: 0px;
  -moz-appearance: none;
  -moz-user-focus: ignore;
  background-color: transparent;
  border: 0px transparent;
  margin: 7px 4px 8px 5px;
  list-style-image: url("chrome://phoenityButtons/skin/twisty-open.png");}

#expandedHeadersBox.compact #phb_compactTwisty {
  list-style-image: url("chrome://phoenityButtons/skin/twisty-clsd.png");}

#phb_compactTwisty .button-text {display: none;}

#expandedHeaders {margin-left: -3px;}
#expandedHeaders2 {padding-left: 12px;}

/* Phoenity Buttons */

#phb_nextUnreadThread {
  list-style-image: url("chrome://phoenityButtons/skin/nextUnreadThread24.png");}
toolbar[iconsize="small"] #phb_nextUnreadThread {
  list-style-image: url("chrome://phoenityButtons/skin/nextUnreadThread16.png");}

#phb_nextUnreadGroup {
  list-style-image: url("chrome://phoenityButtons/skin/nextUnreadGroup24.png");}
toolbar[iconsize="small"] #phb_nextUnreadGroup {
  list-style-image: url("chrome://phoenityButtons/skin/nextUnreadGroup16.png");}

#phb_killThread {
  list-style-image: url("chrome://phoenityButtons/skin/killThread24.png");}
toolbar[iconsize="small"] #phb_killThread {
  list-style-image: url("chrome://phoenityButtons/skin/killThread16.png");}

#phb_viewIgnoredThreads {
  list-style-image: url("chrome://phoenityButtons/skin/viewIgnoredThreads24.png");}
toolbar[iconsize="small"] #phb_viewIgnoredThreads {
  list-style-image: url("chrome://phoenityButtons/skin/viewIgnoredThreads16.png");}

#phb_toggleMessagePane {
  list-style-image: url("chrome://phoenityButtons/skin/toggleMessagePane24.png");}
toolbar[iconsize="small"] #phb_toggleMessagePane {
  list-style-image: url("chrome://phoenityButtons/skin/toggleMessagePane16.png");}

#phb_toggleHTML {
  list-style-image: url("chrome://phoenityButtons/skin/toggleHTML24.png");}
toolbar[iconsize="small"] #phb_toggleHTML {
  list-style-image: url("chrome://phoenityButtons/skin/toggleHTML16.png");}

#phb_toggleSummary {
  list-style-image: url("chrome://phoenityButtons/skin/toggleSummary24.png");}
toolbar[iconsize="small"] #phb_toggleSummary {
  list-style-image: url("chrome://phoenityButtons/skin/toggleSummary16.png");}

#phb_toggleInline {
  list-style-image: url("chrome://phoenityButtons/skin/toggleInline24.png");}
toolbar[iconsize="small"] #phb_toggleInline {
  list-style-image: url("chrome://phoenityButtons/skin/toggleInline16.png");}

#phb_configEditor {
  list-style-image: url("chrome://phoenityButtons/skin/configEditor24.png");}
toolbar[iconsize="small"] #phb_configEditor {
  list-style-image: url("chrome://phoenityButtons/skin/configEditor16.png");}

#phb_downloadManager {
  list-style-image: url("chrome://phoenityButtons/skin/downloadManager24.png");}
toolbar[iconsize="small"] #phb_downloadManager {
  list-style-image: url("chrome://phoenityButtons/skin/downloadManager16.png");}

#phb_activityManager {
  list-style-image: url("chrome://phoenityButtons/skin/activityManager24.png");}
toolbar[iconsize="small"] #phb_activityManager {
  list-style-image: url("chrome://phoenityButtons/skin/activityManager16.png");}

#phb_addonsManager {
  list-style-image: url("chrome://phoenityButtons/skin/addonsManager24.png");}
toolbar[iconsize="small"] #phb_addonsManager {
  list-style-image: url("chrome://phoenityButtons/skin/addonsManager16.png");}

#phb_filterManager {
  list-style-image: url("chrome://phoenityButtons/skin/filterManager24.png");}
toolbar[iconsize="small"] #phb_filterManager {
  list-style-image: url("chrome://phoenityButtons/skin/filterManager16.png");}

#phb_errorConsole {
  list-style-image: url("chrome://phoenityButtons/skin/errorConsole24.png");}
toolbar[iconsize="small"] #phb_errorConsole {
  list-style-image: url("chrome://phoenityButtons/skin/errorConsole16.png");}

#phb_closeThunderbird {
  list-style-image: url("chrome://phoenityButtons/skin/closeThunderbird24.png");}
toolbar[iconsize="small"] #phb_closeThunderbird {
  list-style-image: url("chrome://phoenityButtons/skin/closeThunderbird16.png");}

#phb_restartThunderbird {
  list-style-image: url("chrome://phoenityButtons/skin/restartThunderbird24.png");}
toolbar[iconsize="small"] #phb_restartThunderbird {
  list-style-image: url("chrome://phoenityButtons/skin/restartThunderbird16.png");}

#phb_showCookies {
  list-style-image: url("chrome://phoenityButtons/skin/showCookies24.png");}
toolbar[iconsize="small"] #phb_showCookies {
  list-style-image: url("chrome://phoenityButtons/skin/showCookies16.png");}

.phoenitybutton {opacity:0.85;}
.phoenitybutton:hover {opacity:1;}
.phoenitybutton[disabled="true"] {opacity:0.5;}

